*{
    box-sizing: border-box;
    /* margin: 0; */
}
.parent{
    width: 400px;
    height: 400px;
    border: 2px solid;
    background-color: blue;
    position: relative;
}
.child{
    /* width: 200px;
    height: 200px;
    background-color: aqua; */
    position: absolute;
    top: 0;
    left: 110px;
}img{
    width: 100%;
    height: 100%;
}
h1{
    color: rgb(231, 4, 4);
}