*{
    box-sizing: border-box;
    margin: 0;
}
html,body{
    height: 100%;
}
.container{
    /* min-height: 100vh; */
    border: 3px solid;
    display: grid;
    gap: 5px;
    justify-content: center;
    align-content: center;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px;
    /* grid-template-areas: 'box1 box2 box2 box3'
                         'box1 box4 box5 box5'; */

    position: relative;
}


.child{
    position: absolute;
    top: 85px;
    left: 260px;
}

img{
    width: 100%;
    height: 100%;
}
h1{
    color: rgb(213, 10, 10);
}

.item1{
    grid-column: 1/ span 1;
    grid-row: 1/ span 2;
}
.item2{
    grid-column: 2/span 2;
    grid-row: 1/span 1;
}
.item3{
    grid-column: 4/span 1;
    grid-row: 1/span 1;
}
.item4{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
}
.item5{
    grid-column: 3/span 2;
}    