*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    min-height: 400px;
    border: 3px solid;
    display: flex;
    gap: 20px;
}
/* #item-1{
    flex-shrink: 0; */
    /* flex-grow: 1;
} */
.item{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: blue;
    font-size: 20px;
    color: white;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    flex-shrink: 1;
    min-width: 50px;
}
@media(max-width: 335px){
    .container{
        flex-wrap: wrap;
    }
}